.class-layout {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.countDown {
  color: white;
  font-size: 100px;
  width: 80vw;
  height: 80vh;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p.classTitle2 {
    font-size: 16px;
  }
  p.classSubtitle2 {
    font-size: 12px;
    opacity: 0.7;
  }