.allClasses-layout {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}
.classesGrid {
  padding: 0em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.classesInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.classTop {
  color: white;
  position: absolute;
  top: auto;
  width: 100%;
  padding: 6px;
  font-weight: 500;
}

.showMain {
  background-color: #ff7900; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px;
}

.circleLevel {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin-left: 4px;
  margin-top: 2px;
}

.circleLevelGrid {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  position: absolute;
  font-size: 13px;
  background-color: #ff7900; /* Green */
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3%;
  margin-bottom: 100px;
}

.checkPlaylist:checked {
  -webkit-appearance: none;
  background-color: #ff7900;
  border: 2px solid #ff7900;
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.checkPlaylist {
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #cacece;
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
