.sub-layout {
    text-align: center;
    /* background-color: #282c34; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 3%;
    font-size: calc(10px + 2vmin);
    width: 95wh;
  }

  
.checkSub:checked {
    -webkit-appearance: none;
    background-color: #ff7900;
    border: 2px solid #ff7900;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
  .checkSub {
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #cacece;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }