.main-layout {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.perfil {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfilImage,
.perfilInfo {
  padding: 1rem;
}

.perfilItems .item {
  font-size: 14px;
  padding: 1em;
}

.perfilItems .gridNumber {
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
}

.perfilItems .gridText {
  opacity: 0.5;
}

.perfilItems .gridPoints {
  font-size: 25px;
  font-weight: bold;
  opacity: 1;
  padding-bottom: 10px;
}
.circle {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: green;
  border-radius: 50%;
}

.text {
  color: white;
  margin: auto;
}

.showClasses {
  background-color: #ff7900; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3%;
}

.perfilClasses {
  min-width: 70%;
  color: white;
}

p.classTitle {
  font-size: 16px;
  text-align: left;
  align-self: "left";
  margin-block: auto;
}
p.classSubtitle {
  font-size: 12px;
  opacity: 0.7;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classFecha {
  font-size: 12px;
}

.levelItem {
  font-size: 14px;
  padding: 1em 2em;
}
