.content-wrapper {
  background-color: #005e7c;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 1px;
}

.layout-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../static/img/background.png');
  background-repeat: no-repeat;
  background-size: 100% 150%;
}

.login-container {
  justify-content: center;
  margin-top: -6rem;
}

.login-content > div {
  text-align: center;
}

.login-container .image-container {
  margin-bottom: -2.5rem;
}

.login-content > div span {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.login-content > div p:nth-child(2) span {
  margin-left: -8rem;
}

.login-content > div p:nth-child(3) span {
  margin-left: -6.3rem;
}

.login-content > div input {
  width: 11.2rem;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border: 0px;
  margin-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
}

.login-content > div input:focus-visible {
  outline: unset !important;
}

.login-content > div > p button {
  margin-top: 1rem;
  width: 12.32rem;
  height: 2.2rem;
  border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  outline: unset !important;
  border: 0px;
  background-color: #003242;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 1px;
  font-size: 16px;
}

.login-content > div > p button:hover {
  background-color: #00A3D9;
  color: white;
}
